<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Find by Lat Long on Flickr using Google Map API on Angular</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <body ng-app="main" ng-controller="mainCtrl">
<div class="map-cont">
  <div >
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
      <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>
<div class="img-cont"> 
  <div class="btn-cont">
  <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= numberOfPages() - 1" ng-click="currentPage=currentPage+1">
        Next
   </button></div>
  
  <h3> {{message}}</h3>
 <ul>
   <li ng-repeat="x in records| startFrom:currentPage*pageSize | limitTo:pageSize">
   
   <div> <h3>{{x.title}}</h3></div>
    <img src="https://farm{{x.farm}}.staticflickr.com/{{x.server}}/{{x.id}}_{{x.secret}}.jpg">
   
   
   </li>
   
  </ul>


  
  </div>
</body>
  <script src='https://maps.googleapis.com/maps/api/js?sensor=false''></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.0.12/angular-google-maps.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
